.title {
  margin: 30px;
  text-align: center;
  color: rgb(223, 13, 223);
}

.inline {
  display: inline;
}

input {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  border-color: rgb(243, 247, 6);
  margin: 10px;
}

.addForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

.addFormButton {
  width: 150px;
  height: 35px;
  background-color: rgb(33, 198, 204);
  color: white;
  border-radius: 8px;
}

.updateForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}

.updateFormButton {
  width: 150px;
  background-color: rgb(20, 66, 196);
  color: white;
  border-radius: 8px;
}

.cardSection {
  display: flex;
  margin: 15px 15px 15px 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.subject {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 40px 40px 20px 40px;
  padding: 10px;
}

.statusFilter {
  font-size: x-large;
}

.title_2 {
  font-size: x-large;
  margin-left: 110px;
  color: deeppink;
}

.card {
  width: 18rem;
  background-image: radial-gradient(
    circle at center center,
    #9211b6 85%,
    #b381dd 86%
  );
  background-size: 40px 40px;
  color: black;
  padding: 2px;
}

.cardButtons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 5px 5px 0;
  gap: 10px;
}

.editButton {
  background-color: green;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
  color: white;
}

.deleteButton {
  background-color: orangered;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
  color: white;
}

button {
  border: none;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.selectStatus {
  width: auto;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: rgb(10, 10, 10);
}

.completed {
  background: rgb(50, 153, 153);
  background: linear-gradient(
    80deg,
    rgba(34, 193, 195, 1) 4%,
    rgba(156, 56, 192, 0.8631827731092436) 86%
  );
}

.not-completed {
  background: rgb(34, 195, 90);
  background: linear-gradient(
    80deg,
    rgba(34, 195, 90, 1) 17%,
    rgba(65, 56, 192, 0.8631827731092436) 86%
  );
}
